<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>DriftPHP Todo List</title>
</head>
<body>
<h1>DriftPHP Todo List</h1>
<ul>
    {% for todo in todos %}
        <li>
            <p>{{ todo.task }}</p>
            <small>ID {{ todo.id }}, created at {{ todo.created_at | date('d.m.Y') }}</small>
        </li>
    {% endfor %}
</ul>
</body>
</html>
